@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

/* Navbar */
nav {
  background-color: #000000;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 25px;
  font-size: 20px;
}

nav ul li .active {
  color: orangered;
}

.nav-left {
  flex: 50%;
  /* mengatur lebar */
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.nav-right a {
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
}

/* Blog Form */
.blog-form {
  justify-content: center;
  margin: auto;
  background-color: rgb(254, 255, 254);
}

.blog-form .form-container {
  width: 35%;
  margin: auto;
  border: #000000;
}

.blog-form .form-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.blog-form form label {
  font-size: 20px;
  font-weight: 400;
}

.blog-form form input,
textarea,
select {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.blog-form form textarea {
  height: 250px;
  border-style: groove;
  resize: none;
}

.blog-form form .input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: solid;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}

.blog-form form .input-blog-image-group label p {
  font-size: 15px;
}

.blog-form form .input-blog-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-form form .button-group {
  text-align: right;
  margin-top: 50px !important;
  padding-top: 50px;
}

.blog-form form button {
  margin-top: 50px;
  padding: 8px 20px;
  font-size: 17px;
  background: #000000;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.blog hr {
  border: 1px solid #dbdbdb;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/* Blog list */
.blog .blog-list {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog .blog-list .blog-list-item {
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  display: flex;
}

.blog .blog-list .blog-list-item .blog-image {
  flex: 1;
}

.blog .blog-list .blog-list-item .blog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog .blog-list .blog-list-item .blog-content {
  padding-left: 20px;
  flex: 2;
}

.blog .blog-list .btn-group {
  text-align: right;
  margin-bottom: 20px;
}

.blog .blog-list .btn-group .btn-edit {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: #dbdbdb;
}

.blog .blog-list .btn-group .btn-post {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: #ec4d37;
  color: #fff;
}

.blog .blog-list h1 a {
  text-decoration: none;
  color: #000000;
}

.blog .blog-list .detail-blog-content {
  font-weight: 300;
  font-size: 12px;
  line-height: 50px;
}

.blog .blog-list .blog-list-item p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}

.tech {
  display: flex;
}

.tech1 {
  display: flex;
}

.flex-box {
  display: flexbox;
  width: 50%;
}

.flex-box label {
  display: flex;
  width: 50%;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
}

.flex-input {
  display: flex;
}

.dateInput {
  width: 50%;
}

.dateInput-end {
  width: 50%;
  margin-left: 50px;
}

form button {
  background-color: rgb(0, 0, 0);
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  float: right;
  cursor: pointer;
  margin-top: 50px;
}

form button:hover {
  background-color: rgb(255, 166, 0);
  transition: 0.5s;
}

form .uploud-image {
  margin-top: 20px;
}

form .group-uploud {
  width: 100%;

}

form .flex-uploud {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  justify-content: space-between;
  cursor: pointer;
}

form .flex-uploud img {
  margin: auto 20px;
  width: 6%;
  height: 6%;
  cursor: pointer;
}

form .flex-uploud p {
  margin: auto 0;
  padding: 8px 25px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  font-weight: normal;
  box-shadow: none;
  text-shadow: none;
  font-size: 18px;
  color: gray;
  cursor: pointer;
}

form div input {
  border-style: groove;
}

.textarea {
  border-style: groove;
}

#hamburger-countainer {
  background-color: gray;
  list-style-type: none;
  display: none;
}

.hamburger-countainer {
  background-color: gray;
  display: none;
}

.btn-hamburger {
  display: none;
}

.hamburger-countainer li {
  background-color: #7e7574
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .nav-right a {
    display: none;
  }

  .btn-hamburger {
    display: block;
    float: right;
  }

  .active {
    display: none;
  }

  .countainer1 {
    border: 5px rgb(0, 0, 0) solid;
    width: 150px;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0px 0px 30px gray;
    background-color: rgb(255, 253, 250);
  }

  .hamburger-countainer {
    display: block !important;
  }
}